body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: 'Segoe UI', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    text-align: center;
    width: 300px;
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

input[type="email"],
input[type="password"],input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.1);
    color: white;
}

input::placeholder {
    color: #ccc;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #00c9ff;
    border: none;
    border-radius: 8px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #00b3e6;
}

.foguete {
    margin-top: 20px;
    width: 80px;
}

.welcome-container {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    text-align: center;
    width: 400px;
    margin: auto;
}

.welcome-container h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.welcome-container p {
    font-size: 1.1em;
    margin-bottom: 20px;
}

.logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff4b5c;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.logout-btn:hover {
    background-color: #e04352;
}

.cadastro-link {
    color: #00bfff;
    font-weight: bold;
}

.cadastro-link:hover {
    color: #ffffff;
}

.login-text {
    margin-top: 20px;
    text-align: center;
    color: #ccc;
    font-size: 14px;
}

.login-link {
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
}

.login-link:hover {
    color: #ffffff;
    text-decoration: underline;
}
 
.link-recuperacao {
  margin-top: 10px;
}

.esqueci-senha {
  color: #00bfff;
  text-decoration: none;
}

