<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>📝 Criar nova conta</h1>
        <form action="/register" method="POST">
             <input type="text" name="nome" placeholder="🧑 Seu nome" required>
            <input type="email" name="email" placeholder="👤 Adicione o Email" required>
            <input type="password" name="senha" placeholder="🔒 Nova senha" required>
            <button type="submit">Cadastrar</button>
        </form>
            <p class="login-text">Já tem uma conta? <a href="/" class="login-link">Fazer login</a></p>
        </div>
        
    </div>
</body>
</html>
